
.bodycenter{
    width: 100%;
}
.abouttop{
    padding-bottom: 1.333333rem;
    width: 100%;
    padding-top: 1.066667rem;
    background: url("../image/us_bj.png") ;
    background-size: cover;
    .aboutust2{
        font-size:.426667rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        width: 100%;
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .aboutbtnarea{
        width:100%;
        text-align: center;
        .btnout{
            height:.8rem;
            margin-right: .666667rem;
            display: inline-block;
            .aboutbtn{
                width: 2.253333rem;
                line-height:.733333rem;
                border:.013333rem solid rgba(232,230,218,1);
                border-radius:.373333rem;
                font-size: .4rem;
                font-family: MicrosoftYaHeiLight;
                font-weight: 400;
                color: rgba(254,254,254,1);    
                text-align: center;
                margin: 0rem auto;
            }
            .aboutbtnactive {
                background: #787878;
                border-color: #787878;
            }
        }

        
    }
    .aboutintr{
        width: 100%;
        font-size:.373333rem;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:.533333rem;
        padding-right: .4rem;
        padding-left: .4rem;
        margin-top: 1.2rem;

    }
    
}
    .abstract{
        overflow: hidden;
        padding-bottom: 1rem;
        padding-top: 1rem;
        .abstitle{
            position: relative;
            span{
                position: absolute;
                top: .28rem;
            }
        }
    }
    .aboutcenter{
        width:100%;
        background-color: #fff;
        overflow: hidden;
        display: none;
        .centerpart{
            width:33.33%;
            height:100%;
            float: left;
            .abstitle{
                font-size:.96rem;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(251,198,108,1);
                text-align: center;
                width: 100%;
                span{
                    font-size:.266667rem;
                    font-family:PingFang-SC-Medium;
                    font-weight:500;
                    color:rgba(251,198,108,1);
                }
            }
            .dothing{
                font-size:.32rem;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(77,77,77,1);
                text-align: center;
                width: 100%;
            }
        }

        .yeartextph{
            height:100%;
            width:2.133333rem;
            float:left;
            .yeartextphtext{
                font-size:.4rem;
                text-align: center;
                height:1.266667rem;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(77,77,77,1);
                line-height:1.266667rem;
            }
        }
        
        .midlineph{
            height:4.533333rem;
            background:rgba(251,198,108,1);
            width:.013333rem;
            margin-top: .266667rem;
            position: relative;
            float: left;
            margin-left: .4rem;
            margin-right: .4rem;
            .linedotph{
                position: absolute;
                width: .266667rem;
                height:.266667rem;
                border-radius: .266667rem /* 20/75 */;
                background: #FDE7C1;
                top: .253333rem;
                left:-.133333rem;
            }
            .linedotph2{
                position: absolute;
                width: .266667rem;
                height:.266667rem;
                border-radius: .266667rem /* 20/75 */;
                background: #FDE7C1;
                top: 1.52rem;
                left:-.133333rem;
            }
            .linedotph3{
                position: absolute;
                width: .266667rem;
                height:.266667rem;
                border-radius: .266667rem /* 20/75 */;
                background: #FDE7C1;
                top: 2.786667rem;
                left:-.133333rem;
            }
            .linedotph4{
                position: absolute;
                width: .266667rem;
                height:.266667rem;
                border-radius: .266667rem /* 20/75 */;
                background: #FDE7C1;
                top: 4.053333rem;
                left:-.133333rem;
            }
        }

        .dothingph{
           height:100%;
           .dothingphtext{
                font-size:.346667rem;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(77,77,77,1);
                height:1.266667rem;
                line-height:1.266667rem;
            }
            .dothingphtext2{
                font-size:.346667rem;
                font-family:PingFang-SC-Medium;
                font-weight:500;
                color:rgba(77,77,77,1);
                height:1.266667rem;
                line-height:.466667rem;
                margin-top: .12rem;
            }
        
        }
        .aboutcenterimg{
            font-family:MicrosoftYaHeiLight;
            font-weight:400;
            color:rgba(77,77,77,1);
            font-size: .426667rem /* 32/75 */;
            text-align: center;
            width:33.33%;
            float: left;
            img{
                width: 1.186667rem;
            }
            
        }
        .aterimg{
            height: 1.466667rem;
            font-size: .32rem;
            color: #4d4d4d;
        }
        
    }
    .gohead{
        padding:.666667rem 0;
    }
    .abstract{
        display: block;    
    }
.goright{
    position: relative;
    div{
        position: absolute;
        width: 2.666667rem;
        height: 1.04rem;
        bottom: .226667rem;
        margin-left: 3.573333rem;
    }
}

.linedotinph{
    width: .133333rem;
    height:.133333rem;
    border-radius: .133333rem /* 10/75 */;
    background: #fbc66c;
    margin-top: .066667rem;
    margin-left: .066667rem;
}
.develop{
    padding-top: 0rem;
}
