.home{
    .header{
        .mobititle{
            font-size: .48rem;
            margin: auto;
            width: 100%;
            text-align: center;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(77,77,77,1);
            background: #f9f9f9;
            line-height: .866667rem;
        }
        .showmenumobli{
            height: 1.493333rem;
            background: #fff;
            padding-top: .013333rem;
            margin-top: -.013333rem;
            position: relative;
            border-bottom: .013333rem solid #DCDCDC;
            img{
                width: 100%;
            }
            .comlogomob{
                margin-top: .213333rem;
                width: 3.626667rem;
                height: 1.066667rem;
                float: left;
                margin-left: .4rem;
            }
            .comlogomobrig{
                margin-top: .466667rem;
                width: .68rem;
                height: .493333rem;
                float: right;
                margin-right: .4rem;
            }
            .comlogomobrigdis{
                margin-top: .4rem;
                width: .68rem;
                float: right;
                margin-right: .4rem;
                display: none;
            }
            .comlogoshow{
                height: 1.973333rem;
                width: 100%;
                position: absolute;
                top: 1.493333rem;
                background: #fff;
                z-index: 2;
                display: none;
                .center-block{
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                }
                .col-xs-2{
                    width: 16.66666667%;
                    position: relative;
                    min-height: .013333rem;
                    padding-right: .2rem;
                    padding-left: .2rem;
                    float: left;
                }
                .comlogoshowitemimg {
                    width: .693333rem;
                    height: .693333rem;
                    margin: 0rem auto;
                    img{
                        margin-top: .4rem;
                        width: 100%;
                    }
                }
                .comlogoshowitemtext{
                    font-size: .32rem;
                    font-family: PingFang-SC-Medium;
                    font-weight: 500;
                    color: rgba(77,77,77,1);
                    line-height: .586667rem;
                    margin-top: .44rem;
                    text-align: center;
                }
            }
        }
    }
   
    .indexoneph{
        background: url(/image/sy_bj.png);
        background-size: cover;
        padding-top: 6.6rem;
        padding-bottom: .666667rem;
        .indexoneitemph{
            margin-top: .4rem /* 30/75 */;
            overflow: hidden;
            width: 100%;
            margin-right: 1.28rem;
            margin-left: .2rem;
            margin-top: .733333rem;
            .indexoneimgph{
                width: 1.2rem;
                height: 1.32rem;
                margin-left: 9%;
                float: left;
                margin-top: .32rem;
                img{
                    width: 100%;
                }
            }
        }
        .indexonewordph{
            float: left;
            margin-left: .453333rem;
            .oneitemtextph{
                color: #FBC66C;
                text-align: left;
                font-size: .373333rem;
                margin-top: .266667rem;
            }
            .oneitemtextdph{
                color: #fff;
                text-align: left;
                font-size: .32rem;
            }
        }
    }
    // 案例
    .example{
        background: url(/image/sy2_bj.png);
        background-size: cover;
        overflow: hidden;
        .anlititle{
            margin-top: 140px;
            margin-bottom: 10px;
            font-size: .533333rem /* 40/75 */;
            color: #fff;
            text-align: center;
            width: 100%;
        }
        .imgwrap{
            width: 451px;
        }
    }
}
