.newsdetail{
    background:rgba(246,246,246,1);

    .newsbody{
        padding-bottom: .666667rem;
        min-height: calc(100vh - 10rem );
        .title{
            text-align: center;
            font-size: .48rem;
            padding:.666667rem 1.2rem;
        }
        .artime{
            font-size: .32rem;
            color: #999;
            margin-top: .133333rem;
        }
        .content{
            padding:0 .4rem;
            *{
                font-weight: normal;
                font-style: normal;
                font-size: .346667rem !important;
                background: none;
                color: #4d4d4d !important;
            }
            img{
                width: 80%;
                display: block;
                margin: .266667rem auto;
            }
        }
    }
    
}